
<h2>Bootstrap data table demo</h2>
<p>The data is served from memory, no server commonication is made</p>
<div id="customers_container"> </div>

<script type="module">
    bs_dt_demo.BSDataTableDemos.runStaticDemo();
</script>