<h2>
  Order lines
</h2>

<div id="bookinglines_container">

</div>

  
<script type="module">
  var data = <%- JSON.stringify(items) %>;
  var metaData = <%- JSON.stringify(metaData) %>;
  bs_dt_demo.BSDataTableDemos.runDynamicDemo("bookinglines_container", {data, metaData});
</script>